<main class="text-center">
  <h1>URL Shortener</h1>
  <i class="fas fa-link fa-9x"></i>
  <form action="/">
    <input type="url" name="website" placeholder="Input URL here">
    <input type="submit" value="Shorten">
  </form>
</main>