<main class="text-center">
  <h1 class="mt-5">URL Shortener</h1>
  <a href="/"><i class="fas fa-link fa-7x mt-5"></i></a>
  <h3 class="mt-5">SUCCESS!</h3>
  <h4>Please use this link:</h4>
  <a href="{{{link}}}">https://peaceful-taiga-20007.herokuapp.com/shortened/{{shortened}}</a>
</main>